@import '../../styles/variables';
@import '../../styles/components/blurred-bg';

.modal-content.detailsKara {
	overflow: auto;
}

.modal-header.img-background {
	flex-direction: column;
	position: relative;
	--img: none;
	@include blurred-bg;

	&.fixed {
		width: 95%;
		margin: auto;
		@media screen and (min-width: $mugen-breakpoint-large) {
			width: 75%;
		}
	}

	> * {
		position: relative;
		text-shadow: 2px 2px 2px #000000bf;
		z-index: 2;
	}
}

.modal-header.img-background .karoulette {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0.5em;
	align-items: center;

	> .btn.btn-action {
		font-size: 1.25em;
	}

	> p {
		text-align: center;
	}
}

.modal-header-title {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
	margin-bottom: 1em;

	.modal-title-block {
		flex-grow: 2;
		overflow-wrap: anywhere;
	}

	.transparent-btn {
		background: none;
		border: none;
		color: white;
		font-size: 2rem;
		@media screen and (max-width: $mugen-breakpoint-small) {
			font-size: 1.25rem;
		}
		cursor: pointer;
		text-shadow: 2px 2px 2px #000000bf;
	}
}

.detailsKara {
	margin: 1em;

	.centerButtons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		button {
			margin: 0.25em;
			text-align: left;

			span {
				margin-left: 0.5em;
			}
		}
	}

	.childrens i {
		margin-right: 0.5em;
		margin-left: 0.5em;
	}

	.detailsKaraLineContent {
		font-weight: bold;
		overflow-wrap: anywhere;
	}

	.detailsKaraLine {
		margin: 1em 0;
		display: flex;
		align-items: center;

		i {
			margin-right: 0.5em;
		}

		&.timeData {
			justify-content: space-between;
		}

		&.lyricsKara {
			flex-direction: column;
			align-items: flex-start;
			font-weight: normal;
		}

		.img-circle {
			height: 2em;
			display: inline-block;
			border-radius: 10%;
			margin-right: 0.5em;
		}

		.boldDetails {
			font-weight: bold;
		}

		.inlineTag {
			display: inline-block;
			overflow-wrap: normal;
		}
	}
}

.modal-video {
	border-radius: 8px;
	margin-top: 1em;
	width: 100%;

	&.public {
		@media screen and (min-width: $mugen-breakpoint-large) {
			width: 33%;
			margin: 1em 33% 0 33%;
		}
	}
}

.currentFav {
	color: #f3c71e !important;
}

.colored {
	@each $name, $color in $mugen-colors {
		&.#{$name} {
			color: saturate(lighten($color, 40), 10);

			.inlineTag {
				color: saturate(lighten($color, 55), 10);
			}
		}
	}
}
