@import '../../styles/variables';

.playlist-main {
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	.panel {
		flex: 1;
		border: 0.5em solid darken($mugen-background, 20);
	}
	@media screen and (max-width: $mugen-breakpoint-large) {
		flex-direction: column;
		#panel2 {
			display: none;
		}
	}
}

.single .infoDiv {
	order: -1;
}

.playlistContainer {
	flex: 1 0 auto;
	display: inline-flex;
	flex-flow: column;
}

.playlist-main .list-group-item.karaSuggestion {
	background-color: #5d83778c;
	font-size: 120%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;

	div {
		margin-left: 0.25em;
	}

	a {
		cursor: pointer;
	}
}

.playlist-main .list-group-item.liType {
	background-color: #607e97;
	padding-left: 1em;
	font-weight: bold;
	line-height: 1.5em;
}

.ReactVirtualized__Grid__innerScrollContainer {
	margin-bottom: 31px;
}

@media (max-width: $mugen-breakpoint-small) {
	.ReactVirtualized__Grid__innerScrollContainer {
		margin-bottom: 63px;
	}
}

.playlist-tooltip {
	padding: 1em;
	background-color: lighten($mugen-background, 5);
}

.playlist--wrapper {
	flex: 1 0 auto;
	display: inline-flex;
	flex-direction: column;
	position: relative;
}

.playlist-dragged-item {
	cursor: grabbing;
	list-style: none;
	&.side-left .list-group-item:not(.karaSuggestion) {
		flex-direction: row-reverse;
	}
	.list-group-item {
		background: #333;
		z-index: 200;
	}
}
