@import '../../styles/variables';

.searchMenuContainer {
	background-color: #1e2124;
	border: solid #b3b3b3;
	border-width: 1px 0;
	z-index: 10;
}
.filterContainer {
	display: flex;
	flex-wrap: nowrap;

	.filterButton {
		cursor: pointer;
		padding: 0.5em;
		background-color: crimson;
		@media (max-width: $mugen-breakpoint-small) {
			span {
				display: none;
			}
		}
	}

	.filterElement {
		flex: 1;
		text-align: center;
		padding: 0.25em;
		cursor: pointer;
	}

	.filterTags {
		color: white;
		text-align: left;
	}

	.filterTagsOptions {
		padding: 0;
		.UI-autocomplete-input {
			position: relative;
			&:before {
				pointer-events: none;
				display: inline-block;
				font-family: 'Font Awesome 6 Free';
				content: '\f0d7';
				position: absolute;
				right: 0.5em;
				top: 50%;
				transform: translateY(-50%);
				z-index: 10;
				font-weight: bold;
			}
			input {
				padding: 0.5em;
				font-size: 1em;
			}
		}
	}

	.filterElementActive {
		background-color: #416081;
		font-weight: bold;
	}

	@media (max-width: $mugen-breakpoint-smaller) {
		flex-wrap: wrap;
		.filterTags {
			flex: 1;
		}
		.filterTagsOptions {
			flex: auto;
			width: 100%;
		}
	}
}

.importFile {
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}

.showPlaylistCommands:hover,
.showPlaylistCommands.btn-primary {
	opacity: 1;
}

.showPlaylistCommands:after {
	content: '';
	display: inline-block;
	position: relative;
	top: 0.75em;
	border-color: currentColor transparent transparent;
	border-width: 5px;
	border-style: solid;
}

.danger-hover:hover {
	background-color: #793230 !important;
	color: white !important;
}

.showPoll {
	background-color: #9c5600;
}

.plSearch {
	flex: 1 1;
	margin-left: 1em;
	margin-right: 1em;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #454545b3;
	input {
		font-weight: bold;
		font-family: Lato, 'Font Awesome 6 Free', sans-serif;
		border: 1px solid transparent;
		border-radius: 4px;
	}
}

.plDashboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 100%;
	flex: 0 0 auto;
	box-shadow: 0 6px 10px 0 #0000001a, 0 1px 18px 0 #0000001f, 0 3px 5px -1px #00000029;

	.actionDiv {
		display: flex;
	}
	.btn-group {
		display: flex;
	}

	@media screen and (max-width: $mugen-breakpoint-large) {
		button {
			height: 2em;
		}
		.fas.fa-fw.fa-filter {
			width: unset;
		}
		.plSearch {
			order: 2;
			height: 2em;
			flex-basis: 100%;
			flex-shrink: 0;
			margin: 1em 0 0;
		}
	}
}

.plFooter {
	opacity: 0.93;
	position: absolute;
	bottom: 0;
	z-index: 10040;
	display: flex;
	button {
		font-size: 0.75em;
	}
	button.btn-active {
		background-color: $mugen-btn-primary-background;
	}
	@media screen and (max-width: $mugen-breakpoint-large) {
		font-size: 1em;
		.plInfos {
			vertical-align: middle;
		}
		button {
			height: 2em;
			width: 2em;
		}
	}
}
.plBrowse .goToPlaying > i {
	color: #6caae4;
}
.plInfos,
.plBrowse {
	background-color: darken(map-get($mugen-colors, 'blue'), 20);
	float: right;
	padding: 0.25em;
}
.plQuota {
	background-color: darken(map-get($mugen-colors, 'green'), 10);
	padding: 0.25em;
	&.selection {
		float: right;
	}
}
