@import '../../styles/variables';

.public-homepage {
	display: flex;
	@media screen and (max-width: $mugen-breakpoint-large) {
		display: unset;
	}
	> .public-homepage-wrapper {
		flex-grow: 1;
	}
	> .lyrics-box:last-child {
		margin-left: 1%;
		flex-basis: 45%;
		flex-grow: 0;
		flex-shrink: 0;
		@media screen and (max-width: $mugen-breakpoint-large) {
			display: none;
		}
	}
}

.home-actions {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	> .subtitle {
		width: 100%;
		font-size: 2em;
		text-align: start;
		margin: 0.5em 0;
		@media screen and (max-width: $mugen-breakpoint-large) {
			text-align: unset;
		}
	}
	> .action {
		width: 50%;
		text-align: start;
		@media screen and (max-width: $mugen-breakpoint-large) {
			width: 100%;
		}
		> i {
			margin-right: 0.25em;
		}
		flex-shrink: 0;
		background: none;
		border: none;
		cursor: pointer;
		color: unset;
		text-decoration: unset;
		font-size: 1.25em;
		margin: 0.5em 0;
		transition: color ease-out 200ms;
		font-family: inherit;
		@each $name, $color in $mugen-colors {
			@if $name != 'black' {
				&.#{$name} {
					&:hover,
					&:focus {
						color: saturate(lighten($color, 25), 10);
					}
					&.big {
						color: saturate(lighten($color, 10), 20);
					}
					> i {
						color: saturate(lighten($color, 10), 20);
					}
				}
			}
		}
		&.big {
			width: 100%;
			font-size: 1.75em;
		}
		&:last-child {
			margin-bottom: 3em;
		}
	}
}

.hello-bar {
	> span:first-child {
		font-size: 2em;
		font-weight: bold;
	}
	> div.warning {
		color: goldenrod;
	}
	margin-bottom: 1em;
}
